@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  font-size: 62.5%;
  --main-color: #fc69c1;
  --text-color-dark: #201e1e;
  --text-color-dark2: #292929;
  --text-color-dark3: #5c5757;
  --icon-color: #ee60a4;
  --point-color: #ff43b4;
  --point-color2: #cb358f;
  --point-color3: #ff22a7;
}

::selection {
  background: var(--text-color-dark3);
  color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--icon-color);
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

body {
  font: 1rem/1.5 Pretendard, sans-serif;
  color: var(--text-color-dark3);
  word-break: keep-all;
  text-transform: capitalize; /* 맨 앞은 대문자*/
  min-width: 320px;
  overflow-x: hidden;
}

.inner {
  width: 152rem;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.15); */
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  /* background: #f00; */
  width: 100%;
  z-index: 1;
  height: 19rem;
}

#header nav {
  width: 117rem;
  width: 76.9737%;
  /* background: #5f5; */
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
}

#header::after {
  content: '';
  position: absolute;
  top: -500px;
  left: 0;
  width: 100%;
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

#header.active::after {
  top: 0;
}

#header.hide {
  top: -100px;
}

.logo a {
  display: inline-block;
  width: 28.4rem;
  height: 8.3rem;
  background: url(../img/logo.svg) no-repeat 50% / contain;
  margin-top: 1.5rem;
  z-index: 10;
}

.gnb {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  gap: 7rem;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  z-index: 10;
}

.gnb > li > a {
  /* border: 1px solid #fff;  */
  display: block;
  padding: 1rem 6rem;
}

.gnb > li {
  position: relative;
}

.submenu {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;

  display: none;
  padding-top: 2rem;
}

.submenu li a {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.gnb > li.on > a {
  color: var(--point-color3);
  transition: 0.2s;
}

.menu {
  display: none;
}

.sns {
  display: flex;
  gap: 1.8rem;
  position: absolute;
  top: 3rem;
  right: 0;
  margin-top: 1.5rem;
  z-index: 10;
}

.sns a {
  display: block;
  width: 3rem;
  height: 3rem;
  background: no-repeat 50% / contain;
}

.sns a:nth-child(1) {
  background-image: url(../img/icon-sns1.svg);
}

.sns a:nth-child(2) {
  background-image: url(../img/icon-sns2.svg);
}

.sns a:nth-child(3) {
  background-image: url(../img/icon-sns3.svg);
}

.sns a:nth-child(4) {
  background-image: url(../img/icon-sns4.svg);
}

.sns a:hover:nth-child(1) {
  background-image: url(../img/icon-sns1hover.svg);
}

.sns a:hover:nth-child(2) {
  background-image: url(../img/icon-sns2hover.svg);
}

.sns a:hover:nth-child(3) {
  background-image: url(../img/icon-sns3hover.svg);
}

.sns a:hover:nth-child(4) {
  background-image: url(../img/icon-sns4hover.svg);
}

.visual {
  /* height: 94rem; */
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
}

.video iframe {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.first {
  margin-top: 12rem;
}

.sec-title h2 {
  font-weight: 700;
  font-size: 6rem;
  color: var(--main-color);
  text-align: center;
  border: solid var(--main-color);
  border-width: 0 0 4px;
  padding: 1rem 0.5rem;
  width: 38rem;
  margin: 0 auto;
}

.sec-title p {
  font-weight: 600;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 3.5rem;
  color: var(--text-color-dark);
}

.first-list {
  margin-top: 3.6rem;
}

.first-con {
  display: flex;
  justify-content: space-between;
}

.first-con li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color-dark3);
  border-radius: 50%;
  width: 41.8rem;
  width: 27.5%;
  aspect-ratio: 1/1;
}

.first-con li dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.first-con li dl::before {
  content: '';
  display: block;
  width: 8rem;
  height: 8rem;
  /* border: 1px solid #000; */
  background: no-repeat 50% 50%;
}

.first-con li:nth-child(1) dl::before {
  background-image: url(../img/icon-first1.png);
}
.first-con li:nth-child(2) dl::before {
  background-image: url(../img/icon-first2.png);
}
.first-con li:nth-child(3) dl::before {
  background-image: url(../img/icon-first3.png);
}

.first-con li dl dt {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  color: var(--text-color-dark2);
}
.first-con li dl dd {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}

.first-list p {
  font-weight: 500;
  font-size: 2.4rem;
  margin-top: 6rem;
  text-align: center;
}

.sec-title h3 {
  font-weight: 700;
  font-size: 6rem;
  color: var(--main-color);
  text-align: center;
  border: solid var(--main-color);
  border-width: 0 0 4px;
  padding: 1rem 0.5rem;
  width: 25rem;
  margin: 0 auto;
}

.onair {
  margin-top: 12rem;
  text-align: center;
}
.onair-slider-wrap {
  border: 1px solid #000;
  margin-top: 5rem;
  position: relative;
}

.onair-slider {
}

.onair-slider .swiper-slide {
  border: 1px solid #f00;
}
.onair-slider .swiper-slide img {
  width: 100%;
}

.onair-con {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.onair-con li {
  width: 44rem;
  height: 64rem;
  flex-shrink: 0;
}

.onair-con li figure img {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-flex;
  width: 7.6rem;
  /* background: #000; */
  font-weight: 500;
  font-size: 2.4rem;
  margin-top: 2rem;
  position: relative;
}

.btn::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/plus.svg) no-repeat 0 0 / contain;
  position: absolute;
  top: 0.8rem;
  left: 6rem;
}

.btn:hover::after {
  background: url(../img/plus-hover.svg) no-repeat 0 0;
}
.casting {
  margin-top: 13rem;
  text-align: center;
}

.casting-list ul {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10rem;
  padding: 0 6rem;
}

.casting-list li {
  flex: 0 0 30%;
  /* height: 45rem; */
  aspect-ratio: 1/1.2;
  position: relative;
  overflow: hidden;
}

.casting-list li figure {
  width: 100%;
  height: 100%;
}

.casting-list li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.casting-list li .casting-info {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(238, 96, 164, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(0.5rem);
  transition: 0.4s;
  opacity: 0;

  /* 세로기준 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.casting-list li .casting-info:hover {
  opacity: 1;
}
.casting-info-list em {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}
.casting-info-list strong {
  font-weight: 600;
  font-size: 3rem;
  color: #ffee00;
}
.casting-info-list h3 {
  font-weight: 600;
  font-size: 2.4rem;
  color: #ffee00;
  margin-top: 5rem;
}
.casting-info-list p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}

.patners {
  margin-top: 14rem;
}

.patners ul {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15rem;
  padding: 0 6rem;
}

.patners ul li {
  flex: 0 0 16%;
  text-align: center;
}

.contact-pic {
  width: 74.8rem;
  width: 49.2105%;
}

.contact {
  margin-top: 15rem;
}

.contact-wrap {
  display: flex;
  align-items: center;
  gap: 10.5rem;
  margin-top: 6rem;
}

.contact-group {
  width: 58.6rem;
  width: 38.5526%;
}

.contact-info strong {
  font-weight: 600;
  font-size: 3.2rem;
  text-align: center;
  display: block;
  color: var(--text-color-dark2);
}

.contact-info dl {
  margin-top: 5.4rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
}
.contact-info dl dt {
  width: 15.2rem;
  font-weight: 500;
  font-size: 2rem;
}
.contact-info dl dd {
  width: 43.3rem;
  font-weight: 500;
  font-size: 2rem;
}

.contact-tel {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
  text-align: center;
}

.contact-tel dl dt {
  font-weight: 500;
  font-size: 2.4rem;
  color: var(--text-color-dark);
  margin-top: 2rem;
}
.contact-tel dl dd {
  font-weight: 500;
  font-size: 2.6rem;
  color: var(--text-color-dark);
  margin-top: 0.5rem;
}

.contact-tel dl::before {
  content: '';
  display: block;
  width: 5rem;
  aspect-ratio: 1/1;
  /* height: 5rem; */
  /* border: 1px solid #000; */
  background: no-repeat 50% 50% / contain;
  margin: 0 auto;
}

.contact-tel dl:nth-child(1)::before {
  background-image: url(../img/tel1.svg);
}

.contact-tel dl:nth-child(2)::before {
  background-image: url(../img/tel2.svg);
}

#footer {
  margin-top: 14rem;
  background: #ffaee4;
}

.footer-list {
  text-align: center;
  padding: 8rem 0;
  position: relative;
}

.foot-con a {
  display: block;
  width: 30rem;
  height: 6rem;
  background: url(../img/foot-logo.svg) no-repeat 50% / contain;
  margin: 0 auto;
}

.foot-con p {
  font-weight: 700;
  font-size: 2rem;
  color: var(--point-color);
  margin-top: 2rem;
}

.foot-menu-list li {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--point-color2);
}

.foot-menu-list li a::after {
  content: '';
  display: block;
  width: 0.1rem;
  height: 1.5rem;
  background: var(--point-color2);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.foot-menu-list li:last-child a::after {
  display: none;
}

.foot-tel {
  margin-top: 1.5rem;
}

.foot-tel p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--point-color2);
}

.foot-copy {
  margin-top: 3rem;
}
.foot-copy p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--point-color2);
}

.foot-sns {
  margin-top: 4rem;
}
.sns-list {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
}

.sns-list li a {
  display: block;
  width: 3rem;
  height: 3rem;
  background: no-repeat 50% / contain;
}

.sns-list li:nth-child(1) a {
  background-image: url(../img/foot-icon1.svg);
}
.sns-list li:nth-child(2) a {
  background-image: url(../img/foot-icon2.svg);
}
.sns-list li:nth-child(3) a {
  background-image: url(../img/foot-icon3.svg);
}
.sns-list li:nth-child(4) a {
  background-image: url(../img/foot-icon4.svg);
}

.sns-list li:nth-child(1) a:hover {
  background-image: url(../img/icon-sns1.svg);
}
.sns-list li:nth-child(2) a:hover {
  background-image: url(../img/icon-sns2.svg);
}
.sns-list li:nth-child(3) a:hover {
  background-image: url(../img/icon-sns3.svg);
}
.sns-list li:nth-child(4) a:hover {
  background-image: url(../img/icon-sns4.svg);
}

.btn-top {
  display: flex;
  width: 6rem;
  height: 6rem;
  background: var(--text-color-dark3);
  border-radius: 50%;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 0;
}

.btn-top::before {
  content: '';
  display: block;
  width: 4rem;
  height: 3.5rem;
  background: url(../img/top.svg) no-repeat 50% / contain;
}

.btn-top:hover {
  background: var(--point-color);
}

.btn-online {
  display: flex;
  flex-wrap: wrap;
  width: 9rem;
  height: 9rem;
  background: var(--point-color3);
  font-weight: 800;
  font-size: 1.4rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 5rem;
  right: 0;
  z-index: 10;
}

.btn-online::before {
  content: '';
  display: flex;
  width: 6rem;
  height: 6rem;
  background: url(../img/online.svg) no-repeat 50% 50% / contain;
}

.btn-online:hover {
  background: var(--text-color-dark3);
  color: #fff;
}

@media (max-width: 1520px) {
  .inner {
    width: 85%;
  }
}

@media (max-width: 1200px) {
  .inner {
    width: 152rem;
    width: 78.94736842105263%;
  }

  .gnb,
  .sns {
    display: none;
  }

  .btn-menu {
    position: absolute;
    top: 3.5rem;
    left: 7.6rem;
    display: block;
    width: 5rem;
    height: 5rem;
    /* border: 1px solid #000; */
    background: url(../img/menu.svg) no-repeat 50% / cover;
  }

  .sec-title p {
    font-size: 3rem;
  }

  .first-con {
    gap: 3rem;
  }

  .first-con li {
    width: 41.8rem;
    width: 35%;
  }

  .first-con li dl dt {
    /* font-size: 2.6rem; */
    font-size: 2.083vw;
    font-size: 2.1667vw;
  }

  .first-con li dl dd {
    font-size: 1.6rem;
    font-size: 1.3333vw;
  }

  .onair {
    overflow-x: hidden;
  }

  .casting-list ul {
    row-gap: 3rem;
  }
  .patners ul {
    row-gap: 12rem;
  }

  .contact {
    margin-top: 15rem;
  }

  .contact-pic {
    width: 35.3rem;
    width: 60%;
  }

  .contact-wrap {
    gap: 6rem;
  }

  .contact-group {
    width: 33.9rem;
    width: 50%;
  }

  .contact-info dl {
    align-items: center;
    margin-top: 4rem;
  }

  .contact-info dl dt {
    width: 6rem;
    font-size: 1.8rem;
  }
  .contact-info dl dd {
    width: calc(100% - 6rem);
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .contact-tel {
    margin-top: 4rem;
    gap: 6rem;
  }

  .contact-tel dl::before {
    width: 3rem;
    height: 3rem;
  }

  .contact-tel dl dt {
    margin-top: 0.7rem;
    font-size: 1.6rem;
  }
  .contact-tel dl dd {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }

  .btn-top {
    bottom: 1rem;
    right: 0;
  }
}

@media (max-width: 900px) {
  .sec-title p {
    font-size: 2.5rem;
  }

  .first {
    margin-top: 10rem;
  }

  .first-con li {
    width: 41.8rem;
    width: 30%;
  }

  .first-con li dl::before {
    width: 5rem;
    height: 5rem;
    background: no-repeat 50% / contain;
  }

  .onair-con {
    flex-wrap: wrap;
  }

  .onair-con li {
    width: 28rem;
    height: 38rem;
  }

  .onair-con figure {
    width: 100%;
    height: 100%;
  }

  .patners ul {
    row-gap: 10rem;
  }

  .contact {
    margin-top: 12rem;
  }

  .contact-pic {
    width: 35.3rem;
    width: 48.489%;
  }

  .contact-wrap {
    gap: 3rem;
  }

  .contact-group {
    width: 33.9rem;
    width: 46.5659%;
  }

  .contact-info dl dt {
    font-size: 1.8rem;
  }

  .contact-info dl dd {
    /* width: calc(100% - 6rem); */
    font-size: 1.4rem;
    /* padding: 0 1rem; */
  }
}

/* 테블릿 디자인 */
@media (max-width: 768px) {
  .inner {
    width: 72.8rem;
    width: 92.6209%;
  }

  .sec-title h2 {
    font-size: 3.2rem;
    padding: 0 1rem;
    width: 21.2rem;
    margin: 0 auto;
  }

  .sec-title h3 {
    font-size: 3.2rem;
    padding: 0 1rem;
    width: 15rem;
    margin: 0 auto;
  }

  .sec-title p {
    font-size: 1.8rem;
  }

  .first-list {
    margin-top: 3rem;
  }

  .first-con {
    gap: 2rem;
  }

  .first-con li {
    width: 21.8rem;
    width: 29.9451%;
  }

  .first-con li dl::before {
    width: 4rem;
    height: 4rem;
    background: no-repeat 50% / contain;
  }

  .first-con li dl dt {
    margin-top: 2rem;
    /* font-size: 1.8rem; */
    font-size: 2.083vw;
  }

  .first-con li dl dd {
    margin-top: 0.4rem;
    font-size: 1.4rem;
    font-size: 1.8229vw;
  }

  .first-list p {
    font-size: 1.6rem;
  }

  .onair-slider .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .onair-slider .swiper-slide {
    /* width: 18rem;
    height: 28rem; */
    aspect-ratio: 1/1.56;
    flex: 1 1 30%;
  }

  .onair-slider .swiper-slide figure {
    width: 100%;
    height: 100%;
  }

  .casting {
    margin-top: 9rem;
    overflow-x: hidden;
  }

  .casting-list ul {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
  }

  .casting-list li .casting-info {
    display: none;
  }

  .patners {
    margin-top: 9rem;
  }
  .patners ul {
    margin-top: 5rem;
    padding: 0 0.9rem;
    row-gap: 7.5rem;
  }

  .contact {
    margin-top: 10rem;
  }

  .contact-pic {
    width: 35.3rem;
    width: 48.489%;
  }

  .contact-wrap {
    gap: 3rem;
  }

  .contact-group {
    width: 33.9rem;
    width: 46.5659%;
  }

  .contact-tel {
    margin-top: 2.4rem;
    gap: 4.3rem;
  }

  .contact-tel dl::before {
    width: 3rem;
    height: 3rem;
  }

  .contact-tel dl dt {
    margin-top: 0.7rem;
    font-size: 1.6rem;
  }
  .contact-tel dl dd {
    margin-top: 0.5rem;
    font-size: 1.8rem;
  }

  #footer {
    margin-top: 12rem;
  }

  .btn-top {
    width: 5rem;
    height: 5rem;
  }

  .btn-top::before {
    width: 3rem;
    height: 3.5rem;
  }

  .btn-online {
    width: 7rem;
    height: 7rem;
    font-size: 1rem;
  }

  .btn-online::before {
    width: 5rem;
    height: 4.3rem;
  }
}

@media (max-width: 600px) {
  .inner {
    width: 152rem;
    width: 95%;
  }

  .first-con {
    display: block;
    /* background: #ff5; */
    text-align: center;
  }

  .first-con li {
    display: inline-flex;
    width: 17rem;
    width: 49%;
    margin-top: -60px;
    align-content: center;
  }

  .first-con li:first-child {
    display: flex;
    margin: 4rem auto;
  }

  .first-con li dl::before {
    width: 5rem;
    height: 5rem;
  }

  .first-con li dl dt {
    margin-top: 1.2rem;
    font-size: 1.8rem;
    font-size: 3vw;
  }

  .first-con li dl dd {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    font-size: 2.6667vw;
  }

  .contact-wrap {
    margin-top: 2rem;
  }

  .contact-pic {
    width: 35.3rem;
    width: 60%;
  }

  .contact-group {
    width: 50%;
  }

  .contact-info strong {
    font-size: 2.8rem;
  }

  .contact-tel dl dt {
    font-size: 1.2rem;
  }

  .contact-tel dl dd {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .inner {
    width: 152rem;
    width: 90%;
  }

  .btn-menu {
    left: 3.5rem;
  }

  .visual {
    position: relative;
    height: 30rem;
  }

  .logo a {
    width: 22rem;
    height: 8rem;
  }

  .onair-con li {
    width: 20rem;
    height: 25rem;
  }

  .contact {
    margin-top: 9rem;
  }

  .contact-wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
  }

  .contact-pic {
    width: 32rem;
    width: 95.5224%;
  }

  .contact-group {
    width: 32rem;
    width: 95.5224%;
  }

  .contact-info strong {
    font-size: 2.4rem;
  }

  .contact-info dl {
    margin-top: 2.3rem;
    row-gap: 2rem;
  }

  .contact-info dl dt {
    width: 9rem;
    font-size: 1.8rem;
  }

  .contact-info dl dd {
    width: calc(100% - 9rem);
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .contact-tel {
    gap: 6rem;
    margin-top: 4rem;
  }

  .contact-tel {
    gap: 10rem;
    margin-top: 4rem;
  }

  .btn-top {
    width: 5rem;
    height: 5rem;
    bottom: 3rem;
    right: 0;
  }
  .btn-top::before {
    width: 3rem;
    height: 3.4rem;
  }
  .btn-online {
    width: 6rem;
    height: 6rem;
    top: 2rem;
    right: 0;
    font-size: 1rem;
  }

  .btn-online::before {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 400px) {
  .inner {
    width: 15.2rem;
    width: 94%;
  }

  .onair-con li {
    width: 15rem;
    height: 20rem;
  }

  .btn {
    font-size: 1.6rem;
    text-align: center;
  }

  .btn::after {
    width: 1.8rem;
    height: 1.8rem;
    top: 0.2rem;
    left: 4rem;
  }

  .contact-info dl dd {
    padding: 0;
  }
}

/* 모바일 디자인 */
@media (max-width: 376px) {
  .inner {
    width: 33.5rem;
    width: 89.0957%;
  }

  .btn-menu {
    position: absolute;
    top: 2.3rem;
    left: 4.8rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../img/menu.svg) no-repeat 50% / cover;
  }

  .visual {
    position: relative;
    height: 23rem;
  }

  .logo a {
    width: 14rem;
    height: 4rem;
  }

  .first {
    margin-top: 5rem;
  }

  .sec-title h2 {
    font-size: 2.4rem;
    width: 16.5rem;
    padding: 0;
  }

  .sec-title p {
    font-size: 1.6rem;
    margin-top: 2.4rem;
  }

  .first-con li dl::before {
    width: 3.5rem;
    height: 3.5rem;
  }

  .first-list p {
    font-size: 1.3rem;
    margin-top: 4rem;
  }

  .sec-title h3 {
    font-size: 2.6rem;
    width: 12rem;
    padding: 0;
  }

  .onair {
    margin-top: 4rem;
  }

  .onair-slider {
    margin-top: 2.4rem;
  }

  .onair-con li {
    width: 15rem;
    height: 20rem;
  }

  .btn {
    font-size: 1.6rem;
    text-align: center;
  }

  .btn::after {
    width: 1.8rem;
    height: 1.8rem;
    top: 0.2rem;
    left: 4rem;
  }

  .casting-list ul {
    margin-top: 2.4rem;
  }

  .casting-list li .casting-info {
    display: none;
  }

  .patners {
    margin-top: 5rem;
  }

  .patners ul {
    margin-top: 3.5rem;
    row-gap: 3rem;
  }

  .contact {
    margin-top: 5rem;
  }

  .contact-wrap {
    margin-top: 2.5rem;
  }

  .contact-info strong {
    font-size: 1.8rem;
  }

  .contact-info dl {
    margin-top: 2.3rem;
    row-gap: 2rem;
  }

  .contact-info dl dt {
    width: 6rem;
    font-size: 1.6rem;
    padding: 0;
  }

  .contact-info dl dd {
    width: calc(100% - 6rem);
    font-size: 1.2rem;
    padding: 0 2rem;
  }

  .contact-tel {
    gap: 6rem;
  }

  .contact-tel dl dt {
    font-size: 1.2rem;
  }
  .contact-tel dl dd {
    font-size: 1.4rem;
  }

  .foot-con p {
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .foot-menu-list li {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .foot-menu-list li a::after {
    height: 1.2rem;
  }

  .foot-tel {
    margin-top: 1rem;
  }

  .foot-tel p {
    font-size: 1rem;
  }

  .foot-copy {
    margin-top: 2rem;
  }

  .foot-copy p {
    font-size: 0.8rem;
  }

  .sns-list li a {
    width: 2rem;
    height: 2rem;
  }
  .btn-top {
    width: 3.4rem;
    height: 3.4rem;
    /* bottom: 3rem;
    right: 0; */
  }
  .btn-top::before {
    width: 1.8rem;
    height: 2.1rem;
  }
  .btn-online {
    width: 5rem;
    height: 5rem;
    /* top: 2rem;
    right: 0; */
    font-size: 0.8rem;
  }

  .btn-online::before {
    width: 3rem;
    height: 3rem;
  }
}
