@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
li {
  list-style: none;
}

.wrap {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

p {
  padding: 5% 0;
  text-align: justify;
  line-height: 1.6;
  color: #666;
}

strong {
  font-weight: bold;
  font-size: 3rem;
  color: #f59;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  width: 31.3333%;
  min-height: 200px;
  margin: 1%;
  font-size: 4rem;
  font-weight: bold;
  border: 1px solid #000;
}

.headline {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 100px;
}

.headline2 {
  font-size: 2rem;
  margin: 100px auto;
}

.new-blackpink {
  position: relative;
  width: 500px;
  /* border: 1px solid #000; */
}

.box {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
}

/* 1. CSS 애니메이션이란? */
/* 동작을 만들고 : @keyframes 동작이름 {} */
@keyframes showAni {
  from {
    opacity: 0;
    transform: translate(-100px, -300px) rotate(45deg);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
  }
}
/* 원하는 대상에 동작을 적용 : animation */
.headline {
  animation: showAni 1s;
}

/* 깜빡거리기 방지용 -> 스크롤로 트리거 되어야 aos-animate가 붙기 때문에 그 순각 살짝 깜빡임*/
.blackpink {
  opacity: 0;
}
/* 커스텀 */
[data-aos='showAni'].aos-animate {
  animation: showAni 1s both;
}
[data-aos='bounce-top'].aos-animate {
  animation: bounce-top 0.9s both;
}
/* 다양한 css 애니메이션을 커스텀해서 사용 animista.net*/

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
